<h1 class="text-center">{{title}}</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="showEmployee(employee.id)">View</button>
                &nbsp;
                <button type="button" class="btn btn-success" (click)="updateEmployee(employee)">Edit</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>